.nav-bar{

    background-color: lightgreen;
    width: 80%;

}
body{
    background-color: red;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 2px;
}

.pagination .page-link {
    padding: 0.5rem 0.75rem; /* Ajusta el tamaño del padding */
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
    border-radius: 0.25rem; /* Ajusta el radio del borde */
}

.pagination .page-item.active .page-link {
    background-color: #007bff; /* Color de fondo activo */
    border-color: #007bff; /* Color del borde activo */
    color: #fff; /* Color del texto activo */
}